<h1> Name: <%= @employee.name %> </h1> <br>
<h2> Name: <%= @employee.alias %> </h2> <br>
<h2> Name: <%= @employee.title %> </h2> <br>
<h2> Name: <%= @employee.office %> </h2> <br>
<image src="<%= @employee.img_url %>" >

